<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= config[:site_name] %></title>
  <subtitle><%= current_page.data.name || name %></subtitle>
  <id><%= config[:site_url] %></id>
  <link href="<%= config[:site_url] + (current_page.metadata[:locals][:html_page] || "") %>"/>
  <link href="<%= config[:site_url] + current_page.path %>" rel="self"/>
  <updated><%= Time.now.utc.iso8601 %></updated>
  <author>
    <name><%= config[:site_name] %></name>
  </author>
 
  <%= yield %>

</feed>
