<section class="video">
    <header class="video-header">
        <h2 class="video-title"><%= video.title %></h2>
        <p class="video-meta">
          <% if video.speakers.count > 0 %>
            By <% video.speakers.each do |s| %>
              <%= s %>
              <% if data.speakers[s] %>
                - <%= link_to('(all videos)', speaker_page(s)) %>
              <% end %>
              <% if data.speakers[s]['twitter'] %>
                - <%= link_to('@' + data.speakers[s].twitter, 'http://twitter.com/' + data.speakers[s].twitter) %><br/>
              <% end %>
            <% end %>
          <% end %> 
        </p>
    </header>
    <%= partial :video_content, :locals => { :video => video } %>
</section>
