<% if video['direct-link'] %>
  <p class="video-meta"> Slides and Transcript:<br/><%= link_to video['direct-link'], video['direct-link'] %> </p>
<% end %>
<p class="video-meta">
  <% if video['tags'] && video['tags'].count > 0 %>
    Tags:
    <% video['tags'].each do |tag| %>
      <%= link_to tag, "/tags/#{slug_for_tag(tag)}" %>
    <% end %>
  <% else %>
    No tags yet. <%= link_to "Suggest tags", github_repo_url %>
  <% end %>
</p>
<% if video['description'] %>
  <p class="video-meta"> Description:<br/><%= video['description'] %></p>
<% end %>
<% if video.wwdc %>
  <p><%= link_to "Watch on apple.com", video_url(video) %></p>
<% else %>
  <div class="video-content">
    <p><%= embed_video video %></p>
  </div>
<% end %>
