<h1><%= name %></h1>
<% if speaker.twitter %>
<p>
  <%= link_to('@' + speaker.twitter, 'http://twitter.com/' + speaker.twitter) %><br/>
</p>
<% end %>
<% videos.each do |conference, videos| %>
  <% videos.each do |video| %>
    <h3><%= video.title %></h3>
    <p> <%= link_to conference, "/events/#{data.events[conference].slug}" %> </p>
    <div class="video-content">
      <% if video['direct-link'] %>
      <p>
        Slides and Transcript:<br/><%= link_to video['direct-link'], video['direct-link'] %>
      </p>
      <% end %>
      <p>
      <%= embed_video video %>
      </p>
    </div>
  <% end %>
<% end %>
